{{ 'custom-hero-banner-slider.css' | asset_url | stylesheet_tag }}

{% style %}
   .padding-{{ section.id }} {
    padding-top: {{ section.settings.padding_top | divided_by: 2 }}px;
    padding-bottom: {{ section.settings.padding_bottom | divided_by: 2 }}px;
  }

  @media (min-width: 750px) {
    .padding-{{ section.id }} {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{% endstyle %}

<div class="custom-hero-banner-slider padding-{{ section.id }} slide-section">
  <div class="page-width">
    <custom-splide-slider>
      <section class="splide splide-section-radius" aria-label="Splide Basic HTML Example">
        <div class="splide__track">
          <ul class="splide__list">
            {% if section.blocks != blank %}
              {% for block in section.blocks %}
                <li class="splide__slide">
                  <div class="custom-hero-banner-slider__content-container">
                    {% if block.settings.desktop_image != blank %}
                      {%
                        render 'responsive-image',
                        desktopImage: block.settings.desktop_image,
                        mobileImage: block.settings.mobile_image,
                      %}
                    {% else %}
                      <div class="media media--square">
                        {{ 'hero-apparel-1' | placeholder_svg_tag }}
                      </div>
                    {% endif %}
                    <div class="custom-hero-banner-slider__wrapper {{ block.settings.content_alignment }}">
                      <div class="custom-hero-banner-slider__slide-text-container {{ block.settings.slide_text_horizontal_alignment }}">
                        {% if block.settings.pre_heading != blank %}
                          <ul class="custom-hero-banner-slider__slide-list-container">
                            <li class="custom-hero-banner-slider__slide-list-item">
                              {{ block.settings.pre_heading }}
                            </li>
                          </ul>
                        {% endif %}
                        {% if block.settings.heading != blank %}
                          <div class="h1 custom-hero-banner-slider__heading">
                            {{ block.settings.heading }}
                          </div>
                        {% endif %}
                        {% if block.settings.button_text != blank %}
                          <a
                            class="button"
                            href="{{ block.settings.button_link }}"
                          >
                            {{- block.settings.button_text -}}
                          </a>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </li>
              {% endfor %}
            {% else %}
              {% for i in (1..3) %}
                <li class="splide__slide">
                  {{ 'hero-apparel-1' | placeholder_svg_tag }}
                </li>
              {% endfor %}
            {% endif %}
          </ul>
        </div>
      </section>
      <script>
        {
          "autoplay": {{ section.settings.enable_autoplay }},
          "pagination": {{ section.settings.enable_dots }},
          "arrows": {{ section.settings.enable_arrows }},
          "type": "{{ section.settings.slide_animation }}",
          "loop":{{ section.settings.enable_loop }},
          "rewind": {{ section.settings.enable_rewind }},
          "interval": {{ section.settings.slide_animation_interval }}
        }
      </script>
    </custom-splide-slider>
  </div>
</div>

{% schema %}
{
  "name": "Custom hero banner slider",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Slider settings"
    },
    {
      "type": "checkbox",
      "id": "enable_autoplay",
      "label": "Enable autoplay",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_dots",
      "label": "Enable dots",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_arrows",
      "label": "Enable arrows",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_loop",
      "label": "Enable loop",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_rewind",
      "label": "Enable rewind",
      "default": false
    },
    {
      "type": "range",
      "id": "slide_animation_interval",
      "min": 1000,
      "max": 5000,
      "step": 1000,
      "unit": "ms",
      "info": "ms-milliseconds",
      "label": "Slide animation interval",
      "default": 1000
    },
    {
      "type": "select",
      "id": "slide_animation",
      "label": "Slide animation",
      "options": [
        {
          "value": "slide",
          "label": "Slide"
        },
        {
          "value": "loop",
          "label": "Loop"
        },
        {
          "value": "fade",
          "label": "Fade"
        }
      ],
      "default": "slide"
    },
    {
      "type": "header",
      "content": "Section padding settings"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 10,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding top",
      "default": 16
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 10,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding bottom",
      "default": 16
    }
  ],
  "blocks": [
    {
      "name": "Slide content",
      "type": "slide-content",
      "settings": [
        {
          "type": "header",
          "content": "Slider Image settings"
        },
        {
          "type": "image_picker",
          "id": "desktop_image",
          "label": "Image (Desktop)"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Image (Mobile)"
        },
        {
          "type": "header",
          "content": "Text settings"
        },
        {
          "type": "text",
          "id": "pre_heading",
          "label": "Pre heading text",
          "default": "Women's Apparel"
        },

        {
          "type": "richtext",
          "id": "heading",
          "label": "Heading text",
          "default": "<p>Elevate your wardrobe with our limited-time fashion offer!</p>"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button text",
          "default": "Explore More"
        },
        {
          "type": "color",
          "id": "button_background",
          "label": "Button background color",
          "default": "#ffffff"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        },
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "default": "scheme_1",
          "label": "Color Scheme"
        },
        {
          "type": "header",
          "content": "Slide content alignment settings"
        },
        {
          "type": "select",
          "id": "content_alignment",
          "label": "Content alignment",
          "default": "justify-center align-center",
          "options": [
            {
              "label": "Top left",
              "value": "justify-start align-start"
            },
            {
              "label": "Top center",
              "value": "justify-center align-start"
            },
            {
              "label": "Top right",
              "value": "justify-end align-start"
            },
            {
              "label": "Middle left",
              "value": "justify-start align-center"
            },
            {
              "label": "Middle center",
              "value": "justify-center align-center"
            },
            {
              "label": "Middle right",
              "value": "justify-end align-center"
            },
            {
              "label": "Bottom left",
              "value": "justify-start align-end"
            },
            {
              "label": "Bottom center",
              "value": "justify-center align-end"
            },
            {
              "label": "Bottom-Right",
              "value": "justify-end align-end"
            }
          ]
        },
        {
          "type": "select",
          "id": "slide_text_horizontal_alignment",
          "label": "Horizontal alignment",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom hero banner slider"
    }
  ]
}
{% endschema %}
