{% style %}
   .padding-{{ section.id }} {
    padding-top: {{ section.settings.padding_top | divided_by: 2 }}px;
    padding-bottom: {{ section.settings.padding_bottom | divided_by: 2 }}px;
  }

  @media (min-width: 750px) {
    .padding-{{ section.id }} {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  .section-{{ section.id }}{
    color: {{ section.settings.section_heading_color }}
  }
{% endstyle %}

<div class="custom-collections padding-{{ section.id }}">
  <div class="page-width">
    {% if section.settings.section_heading != blank %}
      <h2 class="section-{{ section.id }}">{{ section.settings.section_heading }}</h2>
    {% endif %}
    <div class="grid grid--1-col grid--2-col-tablet grid--4-col-desktop">
      {% for product in section.settings.product_list %}
        <div class="grid__item">
           {%  render 'product-card', product: product, section_id: section.id %}
        </div>
      {% else %}
      {% for i in (1..4) %}
        <div class="grid__item">
            <div class="media media--square media--radius">
              {{ 'collection-apparel-1' | placeholder_svg_tag }}
            </div>
          </div>
          {% endfor %}
      {% endfor %}
    </div>
  </div>
</div>


{% schema %}
{
    "name": "Custom collection list",
    "tag" :"section",
    "settings": [
        {
            "type": "text",
            "id": "section_heading",
            "label": "Section heading",
            "default": "Featured Collection"
        },
        {
            "type": "color",
            "id": "section_heading_color",
            "label": "Section heading color",
            "default": "#000000"
        },
        {
            "type": "checkbox",
            "id": "enable_slider",
            "label": "Enable slider",
            "default": true
        },
        {
            "type": "product_list",
            "id": "product_list",
            "label": "Products",
            "limit": 12
        },
        {
            "type": "select",
            "id": "heading_size",
            "label": "Heading size",
            "options": [
              {
                "value": "h3",
                "label": "Small"
              },
              {
                "value": "h2",
                "label": "Medium"
              },
              {
                "value": "h1",
                "label": "Large"
              }
            ],
            "default": "h2"
        },
        {
            "type": "select",
            "id": "content_alignment",
            "label": "Content alignment",
            "default": "justify-center align-center",
            "options": [
                {
                "label": "Top left",
                "value": "justify-start align-start"
                },
                {
                "label": "Top center",
                "value": "justify-center align-start"
                },
                {
                "label": "Top right",
                "value": "justify-end align-start"
                },
                {
                "label": "Middle left",
                "value": "justify-start align-center"
                },
                {
                "label": "Middle center",
                "value": "justify-center align-center"
                },
                {
                "label": "Middle right",
                "value": "justify-end align-center"
                },
                {
                "label": "Bottom left",
                "value": "justify-start align-end"
                },
                {
                "label": "Bottom center",
                "value": "justify-center align-end"
                },
                {
                "label": "Bottom-Right",
                "value": "justify-end align-end"
                }
            ]
        },          
        {
            "type": "header",
            "content": "Section padding settings"
        },
        {
        "type": "range",
        "id": "padding_top",
        "label": "Top padding",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "default": 20
        },
        {
        "type": "range",
        "id": "padding_bottom",
        "label": "Bottom padding",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "default": 20
        }
    ],
    "presets": [
        {
            "name": "Custom collection list"
        }
    ]
}
{% endschema %}