{{ 'custom-rich-text.css' | asset_url | stylesheet_tag }}
<script src="{{ "custom-rich-text.js" | asset_url }}" defer></script>

{%- style -%}
  .padding-{{ section.id }} {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .padding-{{ section.id }} {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="custom-rich-text padding-{{section.id}}">
  <div class="page-width">
    <div class="rich-text-wrapper">
      <div class="rich-text-wrapper__container {{ section.settings.alignment }}">
        {% for block in section.blocks %}
          {% if block.type == 'text' and block.settings.pre_text != blank %}
            <p class="rich-text-wrapper__pre-text">{{ block.settings.pre_text }}</p>
          {% elsif block.type == 'heading' and block.settings.heading != blank %}
            <h2 class="rich-text-wrapper__heading h1">{{ block.settings.heading }}</h2>
          {% elsif block.type == 'button' and block.settings.button_text != blank %}
            {% if block.settings.button_link != blank %}
              <a href="{{block.settings.button_link}}" class="rich-text-wrapper__button button"
                ><span>{{ block.settings.button_text }}</span></a
              >
            {% else %}
              <a href="#" class="rich-text-wrapper__button button" role="link" aria-disabled="true">
                {{- block.settings.button_text -}}
              </a>
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Custom rich text",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "select",
      "id": "content_position",
      "label": "Desktop content position",
      "options": [
        {
          "label": "Left",
          "value": "left"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Right",
          "value": "right"
        }
      ]
    },
    {
      "type": "text_alignment",
      "id": "alignment",
      "label": "Text alignment",
      "default": "center"
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 20
    }
  ],
  "blocks": [
    {
      "name": "Text",
      "type": "text",
      "settings": [
        {
          "type": "text",
          "id": "pre_text",
          "label": "Pre text",
          "default": "Pre text"
        }
      ]
    },
    {
      "name": "Heading",
      "type": "heading",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "Heading",
          "default": "Talk about your brand"
        }
      ]
    },
    {
      "name": "Button",
      "type": "button",
      "settings": [
        {
          "type": "text",
          "id": "button_text",
          "label": "Button label",
          "default": "Button label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom rich text",
      "blocks": [
        {
          "type": "text"
        },
        {
          "type": "heading"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
